/* .container {
   max-width: 768px;
   margin-left: var(--mb-1-5);
   margin-right: var(--mb-1-5);
}

.grid {
   display: grid;
   gap: 1.5rem;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* VARIABLES CSS */
:root {
   --header-height: 3rem;

   /* colors */
   --hue: 174;
   --sat: 63%;

   /* --first-color: hsl(var(--hue), var(--sat), 40%); */
   --first-color-alt: hsl(var(--hue), var(--sat), 36%);
   /* --title-color: hsl(var(--hue), 12%, 15%); */
   --text-color: hsl(var(--hue), 8%, 35%);
   --body-color: hsl(var(--hue), 100%, 99%);
   --container-color: #191a1e;
   --text-color: #fff;

   /* ACTIVE */
   --active-color: #33FFD7;

   /* NAV */
   --nav-background: #464646;
   --nav-icon: #fff;
   --first-color: #fff;
   --title-color: #fff;

   /* Font and Typography */
   --body-font: 'Open Sans', sans-serif;

   --h1-font-size: 1.5rem;
   --normal-font-size: .938rem;
   --tiny-font-size: .625rem;

   /* Z index */
   --z-tooltip: 10;
   --z-fixed: 100;

   /* CONTENT */
   --hijau-muda: #33FFD7;

   /* ABOUT */
   --isi-text: #D1D5DB;

}

/* Section */
/* .section {
   padding: 2rem 0 4rem;
}

.section__title {
   font-size: var(--h1-font-size);
}

.section__subtitle {
   display: block;
   font-size: var(--normal-font-size);
   margin-bottom: 2px;
}

.section__title,
.section__subtitle {
   text-align: center;
} */


.nav__item:hover {
   transform: scale(1.2);
}

/* HOME */

/* .container-hero {
   display: flex;
   flex-wrap: wrap;
} */

/* HOME */
.home__container {
   gap: 1rem;
}


div.home__social {
   display: grid;
   grid-template-columns: max-content;
   row-gap: 1rem;
   margin-top: -110px;
   padding-bottom: 20px;
   width: 200px
}

.home__social-icon {
   font-size: 25px;
   color: var(--first-color);
}

h1.home__title.section__title {
   color: var(--hijau-muda);
   font-size: 39px;
}

h3.home_subtitle.section__title {
   text-align: center;
   margin-top: -25px;
   font-size: 20px
}

/* BUTTONS */
.about__button {
   display: flex;
   justify-content: center;
}

.button {
   display: inline-block;
   background-color: var(--hijau-muda);
   color: black;
   padding: 10px;
   border-radius: 15px;
   transition: .3s;
}

.button:hover {
   transform: scale(1.2);
}

/* ABOUT */
h1.about-title {
   font-size: 30px;
}

h1.skillset-title {
   font-size: 22px;
}

.skillset {
   font-size: 20px;
}

.skillsets p {
   color: var(--isi-text);
}

.about-title2 {
   font-size: 19px;
   margin-top: 10px;
}

.about-description {
   line-height: 2;
   font-size: 17px;
   color: var(--isi-text);
}

/* AKHIR ABOUT */

.link_warna {
   color: var(--hijau-muda);
   text-decoration: underline;
}

.garis {
   width: 100%;
   height: 1px;
   background-color: rgba(255, 255, 255, 0.219)
}

.jarak-bawah {
   width: 100%;
   height: 200px;

}

h1.tontonan-title {
   font-size: 45px;
}

h1.tontonan-title1 {
   font-size: 36px;
}

.tontonan-title2 {
   font-size: 23px;
   margin-top: -20px;
}

.tontonan-content {
   width: 100%;
   /* border: 5px solid white; */
   justify-content: space-around;
   display: flex;
   flex-wrap: wrap;
}

.tontonan-content div.anime,
.tontonan-content div.drakor {
   width: 400px;
   height: 100%;
   margin-bottom: 30px;
   background-color: var(--nav-background);
   border-radius: 25px;
   transition: 0.4s;
}

.tontonan-content div.anime:hover,
.tontonan-content div.drakor:hover {
   transform: scale(1.1);
}

.tontonan-content h1 {
   text-align: center;
   color: var(--hijau-muda);
   margin: 20px;
}

.tontonan-content h1:hover {
   text-decoration: underline;
}

.tontonan-content img {
   border-radius: 20px 20px 0px 0px;

}



/* contact */

.ul-contact {
   list-style-type: disc;
   margin-left: 15px;
   color: var(--nav-background);
}

.ul-isi {
   color: white;
   padding-bottom: 11px;
}

a.link-contact {
   text-decoration: var(--hijau-muda) underline;
   color: white;
}

.ul-isi-1 {
   display: flex;
}

.link-contact {
   font-size: 17px;
   font-weight: bold;
}

.deskripsi-contact {
   font-size: 17px;
   color: var(--isi-text);
}

/* anime */
.anime-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
}

.isi-anime {
   background-color: var(--nav-background);
   margin: 10px;
   transition: 0.3s;
}

.isi-anime {
   border-radius: 10px;
}

.anjay {
   background-color: white;
   width: 100%;
   height: 100%;
}

.isi-anime img {
   border-radius: 10px 10px 0px 0px;
}

.isi-anime p {
   color: var(--title-color);
}

.isi-anime h1 {
   text-align: center;
   color: var(--hijau-muda);
   padding: 30px;
}


.isi-anime h1:hover {
   text-decoration: rgba(255, 255, 255, 0.363) underline;
}



.isi-anime:hover {
   background-color: rgba(175, 175, 175, 0.432);
   /* transform: scale(1.1); */
}

.anime-content img {}


@media screen and (min-width: 750px) {

   h1.home__title.section__title {
      color: var(--hijau-muda);
      font-size: 80px
   }

   h3.home_subtitle.section__title {
      text-align: center;
      margin-top: -25px;
      font-size: 40px;
   }

   h1.about-title {
      font-size: 45px;
   }

   h1.skillset-title {
      font-size: 36px;
   }

   h1.skillset {
      font-size: 30px;
   }

   .about-description {
      line-height: 2;
      font-size: 19px;
      color: var(--isi-text);
   }


   .ul-isi {
      display: flex;
   }

   /* anime */
   .isi-anime {

      margin: 20px;
      width: 250px;
   }


}